@page "/carreras/details"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Detalles de las Carreras</PageTitle>

<h1>Detalles de la Carrera</h1>

<div>
    <hr />
    @if (carrera is null)
    {
        <p><em>Cargando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@carrera.Nombre</dd>
        </dl>
        <div>
            <a href="@($"/carreras/edit?id={carrera.Id}")">Editar</a> |
            <a href="@($"/carreras")">Volver al Listado</a>
        </div>
    }
</div>

@code {
    private Carrera? carrera;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        carrera = await context.Carrera.FirstOrDefaultAsync(m => m.Id == Id);

        if (carrera is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
