@page "/carreras/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Editar Carreras</PageTitle>

<h2>Editar Carrera</h2>

<hr />
@if (Carrera is null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Carrera" OnValidSubmit="UpdateCarrera" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Carrera.Id" value="@Carrera.Id" />
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <InputText id="nombre" @bind-Value="Carrera.Nombre" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Carrera.Nombre" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button> | <a href="/carreras">Volver al Listado</a>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Carrera? Carrera { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Carrera ??= await context.Carrera.FirstOrDefaultAsync(m => m.Id == Id);

        if (Carrera is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateCarrera()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Carrera!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CarreraExists(Carrera!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/carreras");
    }

    private bool CarreraExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Carrera.Any(e => e.Id == id);
    }
}
