@page "/religions/details"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Detalles de las Religiones</PageTitle>

<h1>Detalles de la Religión</h1>

<div>
   
    <hr />
    @if (religion is null)
    {
        <p><em>Cargando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@religion.Nombre</dd>
        </dl>
        <div>
            <a href="@($"/religions/edit?id={religion.Id}")">Editar</a> |
            <a href="@($"/religions")">Volver al Listado</a>
        </div>
    }
</div>

@code {
    private Religion? religion;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        religion = await context.Religion.FirstOrDefaultAsync(m => m.Id == Id);

        if (religion is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
