@page "/ars/create"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Crear ARS</PageTitle>

<h1>Crear ARS</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="ARS" OnValidSubmit="AddARS" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label> 
                <InputText id="nombre" @bind-Value="ARS.Nombre" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => ARS.Nombre" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Crear</button> | <a href="/ars">Volver al Listado</a>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private ARS ARS { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddARS()
    {
        using var context = DbFactory.CreateDbContext();
        context.ARS.Add(ARS);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/ars");
    }
}
