@page "/ars/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Editar ARS</PageTitle>

<h1>Editar ARS</h1>

<h2>ARS</h2>
<hr />
@if (ARS is null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="ARS" OnValidSubmit="UpdateARS" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="ARS.Id" value="@ARS.Id" />
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <InputText id="nombre" @bind-Value="ARS.Nombre" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => ARS.Nombre" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button> | <a href="/ars">Volver al Listado</a>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private ARS? ARS { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ARS ??= await context.ARS.FirstOrDefaultAsync(m => m.Id == Id);

        if (ARS is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateARS()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(ARS!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ARSExists(ARS!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/ars");
    }

    private bool ARSExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.ARS.Any(e => e.Id == id);
    }
}
