@page "/afps"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorCRUDArreglos.Modelos
@using BlazorCRUDArreglos.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory

<PageTitle>Listado de AFP</PageTitle>

<h1>Listado de AFP</h1>

<p>
    <a href="afps/create">Crear AFP</a>
</p>

<QuickGrid Class="table" Items="context.AFP">
    <PropertyColumn Property="afp => afp.Nombre" />

    <TemplateColumn Context="afp">
        <a href="@($"afps/edit?id={afp.Id}")">Editar</a> |
        <a href="@($"afps/details?id={afp.Id}")">Detalles</a> |
        <a href="@($"afps/delete?id={afp.Id}")">Eliminar</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDBContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
