@page "/ocupacions/create"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Crear Ocupaciones</PageTitle>

<h1>Crear Ocupaciones</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Ocupacion" OnValidSubmit="AddOcupacion" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label> 
                <InputText id="nombre" @bind-Value="Ocupacion.Nombre" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Ocupacion.Nombre" class="text-danger" /> 
            </div>        
            @*<div class="mb-3">
                <label for="inactivo" class="form-label">Inactivo:</label> 
                <InputCheckbox id="inactivo" @bind-Value="Ocupacion.Inactivo" class="form-check-input" /> 
                <ValidationMessage For="() => Ocupacion.Inactivo" class="text-danger" /> 
            </div>*@        
            <button type="submit" class="btn btn-primary">Crear</button> | <a href="/ocupacions">Volver al Listado</a>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Ocupacion Ocupacion { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddOcupacion()
    {
        using var context = DbFactory.CreateDbContext();
        context.Ocupacion.Add(Ocupacion);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/ocupacions");
    }
}
