<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorCRUDArreglos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estudiantes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Estudiantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profesors">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Profesores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empleados">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Empleados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Personas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="carreras">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Carreras
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gradoacademicos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Grados Academicos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="departamentos">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Departamentos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="facultads">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Facultades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ocupacions">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Ocupaciones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ars">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ARS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="afps">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> AFP
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nacionalidads">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Nacionalidades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="religions">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Religiones
            </NavLink>
        </div>
        
    </nav>
</div>

