@page "/estudiantes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorCRUDArreglos.Modelos
@using BlazorCRUDArreglos.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@rendermode InteractiveServer


<PageTitle>Listado de Estudiantes</PageTitle>

<h1>Listado de Estudiantes</h1>

<p>
    <a href="estudiantes/create">Crear Estudiante</a>
</p>

<div class="input-group mb-2">
    <select class="form-select" @bind="columna" style="max-width:120px">
        <option value="matricula">Matrícula</option>
        <option value="nombre">Nombre</option>
        <option value="apellido">Apellido</option>
    </select>
    <input type="search" @bind="titleFilter" @bind:event="oninput" class="form-control"
           style="max-width:300px" placeholder="Criterio de búsqueda" />
</div>

<QuickGrid Class="table" Items="ItemsFiltrados" Pagination="pagination">
    <PropertyColumn Property="estudiante => estudiante.Matricula" Sortable="true" Title="Matrícula" />
    <PropertyColumn Property="estudiante => estudiante.Cedula" Sortable="true" Title="Cédula" />
    <PropertyColumn Property="estudiante => estudiante.Nombre" />
    <PropertyColumn Property="estudiante => estudiante.Apellido" />
    <PropertyColumn Property="estudiante => estudiante.Telefono" Sortable="true" Title="Teléfono" />
    <PropertyColumn Property="estudiante => estudiante.Carrera" />
    @*<PropertyColumn Property="estudiante => estudiante.FechaNacimiento" />
    <PropertyColumn Property="estudiante => estudiante.FechaIngreso" />
    <PropertyColumn Property="estudiante => estudiante.Sexo" />
    <PropertyColumn Property="estudiante => estudiante.EstadoCivil" />
    <PropertyColumn Property="estudiante => estudiante.TipoSangre" />
    <PropertyColumn Property="estudiante => estudiante.Nacionalidad" />
    <PropertyColumn Property="estudiante => estudiante.Religion" Sortable="true" Title="Religión" />
    <PropertyColumn Property="estudiante => estudiante.Email" />
    <PropertyColumn Property="estudiante => estudiante.Direccion" Sortable="true" Title="Dirección" />
    <PropertyColumn Property="estudiante => estudiante.NombrePadre" />
    <PropertyColumn Property="estudiante => estudiante.NombreMadre" />
    <PropertyColumn Property="estudiante => estudiante.TipoColegioEstudios" />
    <PropertyColumn Property="estudiante => estudiante.Observaciones" />
    <PropertyColumn Property="estudiante => estudiante.Ocupacion" Sortable="true" Title="Ocupación" />
    <PropertyColumn Property="estudiante => estudiante.Inactivo" />*@

    <TemplateColumn Context="estudiante">
        <a href="@($"estudiantes/edit?id={estudiante.Id}")"> 
            <i class="fa-solid fa-pen-to-square"></i>
        </a>

        <a href="@($"estudiantes/details?id={estudiante.Id}")"> 
            <i class="fa-solid fa-circle-info"></i>
        </a>

        <a href="@($"estudiantes/delete?id={estudiante.Id}")">
            <i class="fa-solid fa-trash" style="color:red;"></i>
        </a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="pagination" />

@code {
    private string titleFilter = string.Empty; //necesario para filtrar el listado.

    private string nameFilter = string.Empty; //la cajita que sale al lado del nombre para filtrar
    private string columna = string.Empty;



    //Solo contiene profesores filtrados
    @*IQueryable<Profesor>? ItemsFiltrados
     {
         get
         {
             //si escriben en la cajita de arriba
             if (!string.IsNullOrWhiteSpace(titleFilter))
            {

                 return items?.Where(x => x.Inactivo == false && x.Nombre!.StartsWith(titleFilter));
             }
             ///retorna todo sin filtro
             return items?.Where(x => x.Inactivo == false);
         }
    }*@

    IQueryable<Estudiante>? ItemsFiltrados
    {
        get
        {
            //cuando eligen la búsqueda por nombre..
            if (!string.IsNullOrWhiteSpace(nameFilter))
                return items?.Where(x => x.Inactivo == false && (x.Nombre!.StartsWith(nameFilter)));

            //si escriben en la cajita de arriba
            if (!string.IsNullOrWhiteSpace(titleFilter))
            {
                if (!string.IsNullOrWhiteSpace(columna))
                {
                    switch (columna)
                    {
                        case "nombre":
                            return items?.Where(x => x.Inactivo == false && (x.Nombre!.StartsWith(titleFilter)));
                        case "apellido":
                            return items?.Where(x => x.Inactivo == false && (x.Apellido!.StartsWith(titleFilter)));
                        case "matricula":
                            return items?.Where(x => x.Inactivo == false && (x.Matricula!.StartsWith(titleFilter)));
                    }
                }
                //busca en nombre y apellido, si no hay columna elegida
                return items?.Where(x => x.Inactivo == false
                    && (x.Nombre!.StartsWith(titleFilter)) || (x.Apellido!.StartsWith(titleFilter)));
            }

            ///retorna todo sin filtro
            return items?.Where(x => x.Inactivo == false);
        }
    }
    private AppDBContext context = default!;

    private PaginationState pagination = new PaginationState { ItemsPerPage = 20 };

    IQueryable<Estudiante>? items; //contienen el listado completo de estudiantes
    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        //carga todos los estudiantes en la bd que estén activos
        items = context.Estudiante.Where(x => x.Inactivo == false).AsQueryable();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
