@page "/departamentos/create"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Crear Departamentos</PageTitle>

<h1>Crear Departamento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Departamento" OnValidSubmit="AddDepartamento" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label> 
                <InputText id="nombre" @bind-Value="Departamento.Nombre" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Departamento.Nombre" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Crear</button> |  <a href="/departamentos">Volver al Listado</a>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Departamento Departamento { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddDepartamento()
    {
        using var context = DbFactory.CreateDbContext();
        context.Departamentos.Add(Departamento);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/departamentos");
    }
}
