@page "/facultads/delete"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Eliminar Facultades</PageTitle>

<p>Está seguro que desea eliminar esta Facultad?</p>

<div>
    
    <hr />
    @if (facultad is null)
    {
        <p><em>Cargando...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@facultad.Nombre</dd>
        </dl>
        <EditForm method="post" Model="facultad" OnValidSubmit="DeleteFacultad" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(facultad is null)">Eliminar</button> |
            <a href="/facultads">Volver al Listado</a>
        </EditForm>
    }
</div>

@code {
    private Facultad? facultad;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        facultad = await context.Facultades.FirstOrDefaultAsync(m => m.Id == Id);

        if (facultad is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteFacultad()
    {
        using var context = DbFactory.CreateDbContext();
        context.Facultades.Remove(facultad!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/facultads");
    }
}
