@page "/facultads/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorCRUDArreglos.Modelos
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Editar Facultades</PageTitle>

<h1>Editar Facultad</h1>

<hr />
@if (Facultad is null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Facultad" OnValidSubmit="UpdateFacultad" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Facultad.Id" value="@Facultad.Id" />
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <InputText id="nombre" @bind-Value="Facultad.Nombre" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Facultad.Nombre" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button> |  <a href="/facultads">Volver al Listado</a>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Facultad? Facultad { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Facultad ??= await context.Facultades.FirstOrDefaultAsync(m => m.Id == Id);

        if (Facultad is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateFacultad()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Facultad!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!FacultadExists(Facultad!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/facultads");
    }

    private bool FacultadExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Facultades.Any(e => e.Id == id);
    }
}
