@page "/empleados"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorCRUDArreglos.Modelos
@using BlazorCRUDArreglos.Modelos
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorCRUDArreglos.Modelos.AppDBContext> DbFactory

<PageTitle>Listado de Empleados</PageTitle>

<h1>Listado de Empleados</h1>

<p>
    <a class="btn btn-warning" href="empleados/create">
        <i class="fa-solid fa-plus"></i>
        Crear Empleado
    </a>
</p>

<QuickGrid Class="table" Items="context.Empleado">
    <PropertyColumn Property="empleado => empleado.Codigo" Sortable="true" Title="Código" />
    <PropertyColumn Property="empleado => empleado.Cedula" Sortable="true" Title="Cédula" />
    <PropertyColumn Property="empleado => empleado.FechaNacimiento" />
    <PropertyColumn Property="empleado => empleado.FechaIngreso" />
    <PropertyColumn Property="empleado => empleado.Nombre" />
    <PropertyColumn Property="empleado => empleado.Apellido" />
    <PropertyColumn Property="empleado => empleado.Sexo" />
    <PropertyColumn Property="empleado => empleado.EstadoCivil" />
    <PropertyColumn Property="empleado => empleado.TipoSangre" />
    <PropertyColumn Property="empleado => empleado.Nacionalidad" />
    <PropertyColumn Property="empleado => empleado.Religion" Sortable="true" Title="Religión" />
    <PropertyColumn Property="empleado => empleado.Telefono" Sortable="true" Title="Teléfono" />
    <PropertyColumn Property="empleado => empleado.Email" />
    <PropertyColumn Property="empleado => empleado.Direccion" Sortable="true" Title="Dirección" />
    <PropertyColumn Property="empleado => empleado.SalarioMensual" />
    <PropertyColumn Property="empleado => empleado.DepartamentoPertenece" />
    <PropertyColumn Property="empleado => empleado.NombreEmergencia" />
    <PropertyColumn Property="empleado => empleado.TelefonoEmergencia" />
    <PropertyColumn Property="empleado => empleado.AFPPertenece" />
    <PropertyColumn Property="empleado => empleado.ARSPertenece" />
    <PropertyColumn Property="empleado => empleado.Observaciones" />
    @*<PropertyColumn Property="empleado => empleado.Inactivo" />*@

    <TemplateColumn Context="empleado">
        <a href="@($"empleados/edit?id={empleado.Id}")">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>

        <a href="@($"empleados/details?id={empleado.Id}")">
            <i class="fa-solid fa-circle-info"></i>
        </a>

        <a href="@($"empleados/delete?id={empleado.Id}")">
            <i class="fa-solid fa-trash" style="color:red;"></i>
        </a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDBContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
